$marketplace-border-style: 1px solid rgb(209, 209, 209);

.co-marketplace-modal {
  &__body {
    display: flex;
  }

  &__item-header {
    float: left;
  }

  &__description {
    flex: 1;
    padding-left: 20px;
  }
  
  &__subscribe {
    width: 100%;
    margin-bottom: 20px;
  }
}

.co-marketplace-subscribe {
  padding: 10px;
  padding-top: 0;
}
 .co-marketplace-subscribe--header {
  margin-bottom: 20px;
}
 .co-marketplace-subscribe--form {
  display: inline-block;
  float: left;
  width: 40%;
  padding-right: 20px;
}
 .co-marketplace-subscribe--dropdowns {
  border-bottom: ($marketplace-border-style);
}
 .co-marketplace-subscribe--dropdownelement {
  padding-bottom: 20px;
}
 .co-marketplace-subscribe--buttons {
  padding-top: 20px;
}
 .co-marketplace-subscribe--description {
  display: inline-block;
  float: left;
  width: 55%;
}