$marketplace-border-style: 1px solid rgb(209, 209, 209);
 .co-marketplace-tileview {
  width: 80%;
  float: left;
  display: flex;
}
 .co-marketplace-modal {
  margin-top: 30px;
}
 .co-marketplace-modal--item {
  float: left;
  padding: 15px;
}
 .co-marketplace-modal--properties {
  width: 20%;
  display: inline-block;
  border: ($marketplace-border-style);
}
 .co-marketplace-modal--description {
  width: 75%;
}