.co-marketplace-modal {
  &--body {
    display: flex;
  }

  &--item-header {
    float: left;
  }

  &--subscribe {
    width: 100%;
    margin-bottom: 20px;
  }
  &--description {
    flex: 1;
    padding-left: 20px;
  }
}
